<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><a routerLink="/restrito/lista">Listar Produtos</a></span>
        <span><a routerLink="/restrito/cadastro">Cadastrar Produto</a></span>
        <span><a routerLink="/restrito/deletar">Deletar Produto</a></span>
        <span><a routerLink="/restrito/detalhe">Detalhe Produto</a></span>
        <span><a routerLink="/restrito/editar">Editar Produto</a></span>
        <span><a routerLink="/restrito/usuarios">Gerenciar Usuários</a></span>
        <span><a routerLink="/restrito">Área Restrita</a></span>
        <span><a routerLink="/home">Voltar para Loja</a></span>
        <span><a routerLink="/login">Login</a></span>
        <span><a routerLink="/cadastro-usuario">Cadastrar Usuário</a></span>
        <span><a routerLink="/home">Início</a></span>
        <span><a routerLink="/produtos">Produtos</a></span>  
        <span><a routerLink="/categoria/1">Categoria 1</a></span>
        <span><a routerLink="/categoria/2">Categoria 2</a></span>
        <span><a routerLink="/categoria/3">Categoria 3</a></span>
        <span class="example-spacer"></span>
        <span>Bem-vindo, Usuário!</span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <span class="material-icons">logout</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>